
main{
  float: right;
  width: 50%;
  margin: 2%;
  text-align: center;
}

.blogContainer{
  margin: auto;
  text-align: center;
  border: 2px solid teal;
}

a{
  color: #5271ff
}

img{
  width: 50%;
}

p{
  font-size: 15px;
}
