.eachBlogShow{
  margin: auto;
  margin-top: 20px;
  width: 80%;
  border: 2px solid teal;
}

h2{
  color: teal;
}



.blogDetails {
  width: 90%;
  margin: auto;
  text-align: left;
  padding-bottom: 20px;
}

.showImgs{
  margin: auto;
  text-align: center;
}
.showImgs img{
  display: inline-block;
  margin: 5px;
}
